.nav-holder {
	position: relative;
	display: grid;
	justify-content: center;
	margin-top: 1.5rem;
}

.logo {
	font-family: "Sacramento", cursive;
	justify-content: center;
	display: flex;
}
.nav__button {
	position: absolute;
	left: 0px;
	top: 0px;
}
.nav__button:hover {
	cursor: pointer;
}

.nav-cart {
	padding-right: 20px;
}

.nav-links {
	display: none;
}

.burger-active {
	left: 200px;
}

.active-nav {
	width: 200px;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #f1f1f1;
	height: 100vh;
}
.main-active {
	position: relative;
	left: 200px;
}

@media (min-width: 768px) {
	.nav__button {
		display: none;
	}

	.nav-items {
		display: flex;
	}

	.nav-links {
		display: flex;
		align-items: baseline;
	}

	.nav-links {
		position: relative;
		top: auto;
		left: auto;
	}

	.active-nav {
		width: auto;
		display: flex;
		position: relative;
		top: auto;
		left: auto;
		background: transparent;
		height: auto;
	}

	.main-active {
		left: auto;
	}
}

@media (min-width: 1200px) {
	.nav-holder {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.nav-items {
		margin: 0 auto;
	}
	.logo {
		padding-left: 5%;
		position: absolute;
		left: 0px;
	}
	.nav-cart {
		padding-right: 20px;
		position: absolute;
		right: 0px;
	}
	.nav-links {
		display: flex;
		align-items: center;
	}
}
