@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
* {
	box-sizing: border-box;
}
ul {
	padding-inline-start: 0px;
}
.nav-holder {
	margin-top: 1.5rem;
}
.nav-holder {
	display: grid;
	justify-content: center;
}

.logo {
	padding-left: 5%;
	font-family: "Sacramento", cursive;
	justify-content: center;
	display: flex;
}

.nav-cart {
	padding-right: 20px;
}

nav ul li:first-of-type {
	padding-left: 20px;
}

.nav-items {
	display: flex;
}

a {
	text-decoration: none !important;
	color: black !important;
}
a:hover {
	color: black !important;
}

.nav-links {
	display: flex;
	align-items: baseline;
}

nav ul li {
	text-decoration: none;
	color: black;
	list-style: none;
	font-family: "Josefin Sans", sans-serif;
	padding: 1rem;
	font-size: 1rem;
}

.test {
	display: flex;
	justify-content: center;
	font-family: "Josefin Sans", sans-serif;
	letter-spacing: 8px;
	margin-top: 25px;
	color: #ffa5cb;
}

.test h1 {
	font-weight: 600;
	text-align: center;
}

.nav-items li a {
	text-transform: uppercase;
}
.collage {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 250px);
}

.smaller-imageholder {
	display: flex;
	display: flex;
	grid-column: 2/7;
}

.img-1 {
	background-image: url(./images/VeganMenu.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #d0c3f1;
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.img-2 {
	background-image: url(./images/dark.jpg);
	background-size: cover;
	background-position: center;
	background-position: bottom;
}
.img-3 {
	background-image: url(./images/Veganice.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #ec99ad;
}
.img-4 {
	background-image: url(./images/dee.png);

	background-position: bottom;
	background-size: contain;
}

.img-5 {
	background-image: url(./images/eatingcream.jpg);
	background-size: cover;
	background-position: center;
}

.img-6 {
	background-image: url(./images/peaches.jpg);
	background-size: cover;
	background-position: center;
}

@media (min-width: 991.98px) {
	.collage {
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 250px);
	}
	.img-1 {
		background-image: url(./images/VeganMenu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-color: #d0c3f1;
		grid-column: 1/3;
		grid-row: 1 / span 2;
	}

	.img-2 {
		background-image: url(./images/dark.jpg);
		background-size: cover;
		background-position: center;
		grid-column: 3 / span 1;
		grid-row: 1;
		background-position: bottom;
	}
	.img-3 {
		background-image: url(./images/Veganice.png);
		background-size: cover;
		background-position: 50% 70%;
		grid-column: 4 / span 1;
		grid-row: 1;
	}
	.img-4 {
		background-image: url(./images/dee.png);
		background-size: cover;
		background-position: 50% 100%;
		grid-column: 5 / span 1;
		grid-row: 1;
	}

	.img-5 {
		background-image: url(./images/eatingcream.jpg);
		background-size: cover;
		background-position: center;
		grid-column: 3 / span 1;
		grid-row: 2;
	}

	.img-6 {
		background-image: url(./images/peaches.jpg);
		background-size: cover;
		background-position: center;
		grid-column: 4 / span 2;
		grid-row: 2;
	}
}

@media (min-width: 1200px) {
	/* .collage {
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 250px);
	}
	.img-1 {
		background-image: url(./images/VeganMenu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-color: #d0c3f1;
		grid-column: 1/3;
		grid-row: 1 / span 2;
	}

	.img-2 {
		background-image: url(./images/dark.jpg);
		background-size: cover;
		background-position: center;
		grid-column: 3 / span 1;
		grid-row: 1;
		background-position: bottom;
	}
	.img-3 {
		background-image: url(./images/Veganice.png);
		background-size: cover;
		background-position: 50% 70%;
		grid-column: 4 / span 1;
		grid-row: 1;
	}
	.img-4 {
		background-image: url(./images/dee.png);
		background-size: cover;
		background-position: 50% 100%;
		grid-column: 5 / span 1;
		grid-row: 1;
	}

	.img-5 {
		background-image: url(./images/eatingcream.jpg);
		background-size: cover;
		background-position: center;
		grid-column: 3 / span 1;
		grid-row: 2;
	}

	.img-6 {
		background-image: url(./images/peaches.jpg);
		background-size: cover;
		background-position: center;
		grid-column: 4 / span 2;
		grid-row: 2;
	} */

	.nav-holder {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.nav-items {
		margin: 0 auto;
	}
	.logo {
		padding-left: 5%;
		position: absolute;
		left: 0px;
	}
	.nav-cart {
		padding-right: 20px;
		position: absolute;
		right: 0px;
	}
	.nav-links {
		display: flex;
		align-items: center;
	}
	.nav ul li:first-of-type {
		padding-left: 0px;
	}
}
